<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<h1>Select what you would like to do</h1>

<form action="/bookForm">
    <input type="submit" value="Add a book" />
</form>
<br>
<br>
<form action="/loanBook">
    <input type="submit" value="Add a book loan" />
</form>
<br>
<br>
<form action="/studentForm">
    <input type="submit" value="Add a student" />
</form>
<br>
<br>
<form action="/removeStudent">
    <input type="submit" value="Remove a student" />
</form>

</body>
</html>